registry=https://pkgs.dev.azure.com/500apps/500apps/_packaging/appup/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/500apps/500apps/_packaging/appup/npm/registry/:username=500apps
//pkgs.dev.azure.com/500apps/500apps/_packaging/appup/npm/registry/:_password=dHhwa2NwaWR1MmxpbmNhcmt0b3JxeXRicHZzZWdpM2ozY2p4aXhtazZvdng1cjc0NW9xcQ==
//pkgs.dev.azure.com/500apps/500apps/_packaging/appup/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/500apps/500apps/_packaging/appup/npm/:username=500apps
//pkgs.dev.azure.com/500apps/500apps/_packaging/appup/npm/:_password=dHhwa2NwaWR1MmxpbmNhcmt0b3JxeXRicHZzZWdpM2ozY2p4aXhtazZvdng1cjc0NW9xcQ==
//pkgs.dev.azure.com/500apps/500apps/_packaging/appup/npm/:email=npm requires email to be set but doesn't use the value
; end auth token