@font-face {
  font-family: 'appup';
  src:  url('appup/appup.eot?exill1');
  src:  url('appup/appup.eot?exill1#iefix') format('embedded-opentype'),
    url('appup/appup.ttf?exill1') format('truetype'),
    url('appup/appup.woff?exill1') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'appup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Logs:before {
  content: "\e948";
  color: #1a8cff;
}
.icon-Publish-icon:before {
  content: "\e949";
  color: #1a8cff;
}
.icon-Css-icon:before {
  content: "\e941";
  color: #1a8cff;
}
.icon-Javascript-icon:before {
  content: "\e942";
  color: #1a8cff;
}
.icon-google:before {
  content: "\e924";
  color: #fff;
}
.icon-facebook:before {
  content: "\e925";
  color: #fff;
}
.icon-button:before {
  content: "\e90b";
  color: #1a8cff;
}
.icon-checkbox:before {
  content: "\e918";
}
.icon-slider2 .path1:before {
  content: "\e91b";
  color: rgb(26, 140, 255);
}
.icon-slider2 .path2:before {
  content: "\e940";
  margin-left: -1.2568359375em;
  color: rgb(221, 238, 255);
}
.icon-slider .path1:before {
  content: "\e919";
  color: rgb(26, 140, 255);
}
.icon-slider .path2:before {
  content: "\e91a";
  margin-left: -1.2568359375em;
  color: rgb(221, 238, 255);
}
.icon-check:before {
  content: "\e90a";
  color: #fff;
}
.icon-basket:before {
  content: "\e902";
  color: #fff;
}
.icon-pencil:before {
  content: "\e903";
  color: #fff;
}
.icon-ShapeNormal_1:before {
  content: "\e908";
  color: #fff;
}
.icon-XMLID_37_Normal:before {
  content: "\e907";
  color: #fff;
}
.icon-ShapeNormal:before {
  content: "\e901";
  color: #e4edf9;
}
.icon-blocks-icon:before {
  content: "\e900";
  color: #1a8cff;
}
.icon-accordion .path1:before {
  content: "\1f32b";
  color: rgb(26, 140, 255);
}
.icon-accordion .path2:before {
  content: "\1f32c";
  margin-left: -1.0830078125em;
  color: rgb(221, 238, 255);
}
.icon-accordion .path3:before {
  content: "\1f32d";
  margin-left: -1.0830078125em;
  color: rgb(26, 140, 255);
}
.icon-accordion .path4:before {
  content: "\1f32e";
  margin-left: -1.0830078125em;
  color: rgb(26, 140, 255);
}
.icon-add-icon:before {
  content: "\e904";
  color: #1a8cff;
}
.icon-arrow-left:before {
  content: "\e905";
  color: #4d5968;
}
.icon-assessment:before {
  content: "\e906";
  color: #1a8cff;
}
.icon-braces:before {
  content: "\e909";
  color: #1a8cff;
}
.icon-close-icon:before {
  content: "\e90c";
  color: #d2deed;
}
.icon-close-icon2:before {
  content: "\e90d";
  color: #fff;
}
.icon-columns .path1:before {
  content: "\e90e";
  color: rgb(204, 228, 255);
}
.icon-columns .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(239, 247, 255);
}
.icon-columns .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-delete:before {
  content: "\e911";
  color: #1a8cff;
}
.icon-delete-forever:before {
  content: "\e912";
  color: #1a8cff;
}
.icon-dialpad:before {
  content: "\e913";
  color: #1a8cff;
}
.icon-division .path1:before {
  content: "\e914";
  color: rgb(26, 140, 255);
  opacity: 0.149;
}
.icon-division .path2:before {
  content: "\e915";
  margin-left: -2em;
  color: rgb(26, 140, 255);
}
.icon-division .path3:before {
  content: "\e916";
  margin-left: -2em;
  color: rgb(26, 140, 255);
}
.icon-export:before {
  content: "\e917";
  color: #1a8cff;
}
.icon-field-schema:before {
  content: "\e91c";
  color: #1a8cff;
}
.icon-filters:before {
  content: "\e91d";
  color: #1a8cff;
}
.icon-flag:before {
  content: "\e91e";
  color: #1a8cff;
}
.icon-font .path1:before {
  content: "\e91f";
  color: rgb(26, 140, 255);
  opacity: 0.149;
}
.icon-font .path2:before {
  content: "\e920";
  margin-left: -0.9169921875em;
  color: rgb(26, 140, 255);
}
.icon-font .path3:before {
  content: "\e921";
  margin-left: -0.9169921875em;
  color: rgb(26, 140, 255);
}
.icon-font .path4:before {
  content: "\e922";
  margin-left: -0.9169921875em;
  color: rgb(0, 122, 255);
}
.icon-git:before {
  content: "\e923";
  color: #fff;
}
.icon-green-circle:before {
  content: "\e928";
}
.icon-grid .path1:before {
  content: "\e929";
  color: rgb(26, 140, 255);
}
.icon-grid .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-grid .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-grid .path4:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-grid .path5:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(221, 238, 255);
}
.icon-help-icon .path1:before {
  content: "\e92e";
  color: rgb(221, 238, 255);
}
.icon-help-icon .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-help-icon .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-help-icon .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-help-icon .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-help-icon .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-horizont-panel .path1:before {
  content: "\e934";
  color: rgb(221, 238, 255);
}
.icon-horizont-panel .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-horizont-panel .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(204, 228, 255);
}
.icon-html .path1:before {
  content: "\e937";
  color: rgb(221, 238, 255);
}
.icon-html .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-html .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-html .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-html .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-icon-back:before {
  content: "\e93c";
  color: #1a8cff;
}
.icon-icon-box .path1:before {
  content: "\e93d";
  color: rgb(26, 140, 255);
}
.icon-icon-box .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-icon-box .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(221, 238, 255);
}
.icon-import:before {
  content: "\e943";
  color: #1a8cff;
}
.icon-input:before {
  content: "\e944";
  color: #1a8cff;
}
.icon-left-align:before {
  content: "\e94c";
  color: #1a8cff;
}
.icon-linkedin:before {
  content: "\e94d";
  color: #fff;
}
.icon-list:before {
  content: "\e94e";
  color: #1a8cff;
}
.icon-logo:before {
  content: "\e94f";
  color: #1a8cff;
}
.icon-map-marker:before {
  content: "\e950";
  color: #1a8cff;
}
.icon-menu-btn:before {
  content: "\e951";
  color: #43515e;
}
.icon-new-app:before {
  content: "\e95a";
  color: #fff;
}
.icon-new-user:before {
  content: "\e95c";
  color: #1a8cff;
}
.icon-notification .path1:before {
  content: "\e95d";
  color: rgb(245, 246, 250);
}
.icon-notification .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-pages:before {
  content: "\e95f";
  color: #1a8cff;
}
.icon-picture .path1:before {
  content: "\e960";
  color: rgb(221, 238, 255);
}
.icon-picture .path2:before {
  content: "\e961";
  margin-left: -1.25em;
  color: rgb(0, 122, 255);
}
.icon-picture .path3:before {
  content: "\e962";
  margin-left: -1.25em;
  color: rgb(26, 140, 255);
}
.icon-pie-chart:before {
  content: "\e963";
  color: #1a8cff;
}
.icon-pin .path1:before {
  content: "\e964";
  color: rgb(221, 238, 255);
}
.icon-pin .path2:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-pin .path3:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(0, 122, 255);
}
.icon-play:before {
  content: "\e967";
  color: #1a8cff;
}
.icon-plugins:before {
  content: "\e968";
  color: #1a8cff;
}
.icon-plus:before {
  content: "\e969";
  color: #1a8cff;
}
.icon-push-pin .path1:before {
  content: "\e96a";
  color: rgb(221, 238, 255);
}
.icon-push-pin .path2:before {
  content: "\e96b";
  margin-left: -0.5830078125em;
  color: rgb(26, 140, 255);
}
.icon-radio-button-icon .path1:before {
  content: "\e96c";
  color: rgb(221, 238, 255);
}
.icon-radio-button-icon .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-radio-button-icon .path3:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-refresh:before {
  content: "\e96f";
  color: #1a8cff;
}
.icon-send:before {
  content: "\e970";
  color: #1a8cff;
}
.icon-star1:before {
  content: "\e971";
  color: #ff9902;
}
.icon-star2:before {
  content: "\e972";
  color: #ff9902;
}
.icon-star-icon:before {
  content: "\e973";
  color: #def;
}
.icon-swap:before {
  content: "\e974";
  color: #1a8cff;
}
.icon-table .path1:before {
  content: "\e975";
  color: rgb(26, 140, 255);
  opacity: 0.2;
}
.icon-table .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(239, 247, 255);
}
.icon-table .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-tabs .path1:before {
  content: "\e978";
  color: rgb(221, 238, 255);
}
.icon-tabs .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-text .path1:before {
  content: "\e97a";
  color: rgb(26, 140, 255);
  opacity: 0.2;
}
.icon-text .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-trash:before {
  content: "\e981";
  color: #1a8cff;
}
.icon-triggers:before {
  content: "\e982";
  color: #1a8cff;
}
.icon-twitter:before {
  content: "\e983";
  color: #5da8dc;
}
.icon-user:before {
  content: "\e985";
  color: #1a8cff;
}
.icon-vertical-panel .path1:before {
  content: "\e986";
  color: rgb(26, 140, 255);
}
.icon-vertical-panel .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(221, 238, 255);
}
.icon-vertical-panel .path3:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(204, 228, 255);
}
.icon-vertical-panel .path4:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-workflows:before {
  content: "\e98a";
  color: #1a8cff;
}

.icon-google:before {
  content: "\e924";
  color: #fff;
}
.icon-facebook:before {
  content: "\e925";
  color: #fff;
}
.icon-button:before {
  content: "\e90b";
  color: #1a8cff;
}
.icon-checkbox:before {
  content: "\e918";
}
.icon-slider2 .path1:before {
  content: "\e91b";
  color: rgb(26, 140, 255);
}
.icon-slider2 .path2:before {
  content: "\e940";
  margin-left: -1.2568359375em;
  color: rgb(221, 238, 255);
}
.icon-slider .path1:before {
  content: "\e919";
  color: rgb(26, 140, 255);
}
.icon-slider .path2:before {
  content: "\e91a";
  margin-left: -1.2568359375em;
  color: rgb(221, 238, 255);
}
.icon-check:before {
  content: "\e90a";
  color: #fff;
}
.icon-basket:before {
  content: "\e902";
  color: #fff;
}
.icon-pencil:before {
  content: "\e903";
  color: #fff;
}
.icon-ShapeNormal_1:before {
  content: "\e908";
  color: #fff;
}
.icon-XMLID_37_Normal:before {
  content: "\e907";
  color: #fff;
}
.icon-ShapeNormal:before {
  content: "\e901";
  color: #e4edf9;
}
.icon-blocks-icon:before {
  content: "\e900";
  color: #1a8cff;
}
.icon-accordion .path1:before {
  content: "\1f32b";
  color: rgb(26, 140, 255);
}
.icon-accordion .path2:before {
  content: "\1f32c";
  margin-left: -1.0830078125em;
  color: rgb(221, 238, 255);
}
.icon-accordion .path3:before {
  content: "\1f32d";
  margin-left: -1.0830078125em;
  color: rgb(26, 140, 255);
}
.icon-accordion .path4:before {
  content: "\1f32e";
  margin-left: -1.0830078125em;
  color: rgb(26, 140, 255);
}
.icon-add-icon:before {
  content: "\e904";
  color: #1a8cff;
}
.icon-arrow-left:before {
  content: "\e905";
  color: #4d5968;
}
.icon-assessment:before {
  content: "\e906";
  color: #1a8cff;
}
.icon-braces:before {
  content: "\e909";
  color: #1a8cff;
}
.icon-close-icon:before {
  content: "\e90c";
  color: #d2deed;
}
.icon-close-icon2:before {
  content: "\e90d";
  color: #fff;
}
.icon-columns .path1:before {
  content: "\e90e";
  color: rgb(204, 228, 255);
}
.icon-columns .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(239, 247, 255);
}
.icon-columns .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-delete:before {
  content: "\e911";
  color: #1a8cff;
}
.icon-delete-forever:before {
  content: "\e912";
  color: #1a8cff;
}
.icon-dialpad:before {
  content: "\e913";
  color: #1a8cff;
}
.icon-division .path1:before {
  content: "\e914";
  color: rgb(26, 140, 255);
  opacity: 0.149;
}
.icon-division .path2:before {
  content: "\e915";
  margin-left: -2em;
  color: rgb(26, 140, 255);
}
.icon-division .path3:before {
  content: "\e916";
  margin-left: -2em;
  color: rgb(26, 140, 255);
}
.icon-export:before {
  content: "\e917";
  color: #1a8cff;
}
.icon-field-schema:before {
  content: "\e91c";
  color: #1a8cff;
}
.icon-filters:before {
  content: "\e91d";
  color: #1a8cff;
}
.icon-flag:before {
  content: "\e91e";
  color: #1a8cff;
}
.icon-font .path1:before {
  content: "\e91f";
  color: rgb(26, 140, 255);
  opacity: 0.149;
}
.icon-font .path2:before {
  content: "\e920";
  margin-left: -0.9169921875em;
  color: rgb(26, 140, 255);
}
.icon-font .path3:before {
  content: "\e921";
  margin-left: -0.9169921875em;
  color: rgb(26, 140, 255);
}
.icon-font .path4:before {
  content: "\e922";
  margin-left: -0.9169921875em;
  color: rgb(0, 122, 255);
}
.icon-git:before {
  content: "\e923";
  color: #fff;
}
.icon-green-circle:before {
  content: "\e928";
}
.icon-grid .path1:before {
  content: "\e929";
  color: rgb(26, 140, 255);
}
.icon-grid .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-grid .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-grid .path4:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-grid .path5:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(221, 238, 255);
}
.icon-help-icon .path1:before {
  content: "\e92e";
  color: rgb(221, 238, 255);
}
.icon-help-icon .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-help-icon .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-help-icon .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-help-icon .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-help-icon .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-horizont-panel .path1:before {
  content: "\e934";
  color: rgb(221, 238, 255);
}
.icon-horizont-panel .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-horizont-panel .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(204, 228, 255);
}
.icon-html .path1:before {
  content: "\e937";
  color: rgb(221, 238, 255);
}
.icon-html .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-html .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-html .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-html .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-icon-back:before {
  content: "\e93c";
  color: #1a8cff;
}
.icon-icon-box .path1:before {
  content: "\e93d";
  color: rgb(26, 140, 255);
}
.icon-icon-box .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-icon-box .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(221, 238, 255);
}
.icon-import:before {
  content: "\e943";
  color: #1a8cff;
}
.icon-input:before {
  content: "\e944";
  color: #1a8cff;
}
.icon-left-align:before {
  content: "\e94c";
  color: #1a8cff;
}
.icon-linkedin:before {
  content: "\e94d";
  color: #fff;
}
.icon-list:before {
  content: "\e94e";
  color: #1a8cff;
}
.icon-logo:before {
  content: "\e94f";
  color: #1a8cff;
}
.icon-map-marker:before {
  content: "\e950";
  color: #1a8cff;
}
.icon-menu-btn:before {
  content: "\e951";
  color: #43515e;
}
.icon-new-app:before {
  content: "\e95a";
  color: #fff;
}
.icon-new-user:before {
  content: "\e95c";
  color: #1a8cff;
}
.icon-notification .path1:before {
  content: "\e95d";
  color: rgb(245, 246, 250);
}
.icon-notification .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-pages:before {
  content: "\e95f";
  color: #1a8cff;
}
.icon-picture .path1:before {
  content: "\e960";
  color: rgb(221, 238, 255);
}
.icon-picture .path2:before {
  content: "\e961";
  margin-left: -1.25em;
  color: rgb(0, 122, 255);
}
.icon-picture .path3:before {
  content: "\e962";
  margin-left: -1.25em;
  color: rgb(26, 140, 255);
}
.icon-pie-chart:before {
  content: "\e963";
  color: #1a8cff;
}
.icon-pin .path1:before {
  content: "\e964";
  color: rgb(221, 238, 255);
}
.icon-pin .path2:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-pin .path3:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(0, 122, 255);
}
.icon-play:before {
  content: "\e967";
  color: #1a8cff;
}
.icon-plugins:before {
  content: "\e968";
  color: #1a8cff;
}
.icon-plus:before {
  content: "\e969";
  color: #1a8cff;
}
.icon-push-pin .path1:before {
  content: "\e96a";
  color: rgb(221, 238, 255);
}
.icon-push-pin .path2:before {
  content: "\e96b";
  margin-left: -0.5830078125em;
  color: rgb(26, 140, 255);
}
.icon-radio-button-icon .path1:before {
  content: "\e96c";
  color: rgb(221, 238, 255);
}
.icon-radio-button-icon .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-radio-button-icon .path3:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-refresh:before {
  content: "\e96f";
  color: #1a8cff;
}
.icon-send:before {
  content: "\e970";
  color: #1a8cff;
}
.icon-star1:before {
  content: "\e971";
  color: #ff9902;
}
.icon-star2:before {
  content: "\e972";
  color: #ff9902;
}
.icon-star-icon:before {
  content: "\e973";
  color: #def;
}
.icon-swap:before {
  content: "\e974";
  color: #1a8cff;
}
.icon-table .path1:before {
  content: "\e975";
  color: rgb(26, 140, 255);
  opacity: 0.2;
}
.icon-table .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(239, 247, 255);
}
.icon-table .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-tabs .path1:before {
  content: "\e978";
  color: rgb(221, 238, 255);
}
.icon-tabs .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-text .path1:before {
  content: "\e97a";
  color: rgb(26, 140, 255);
  opacity: 0.2;
}
.icon-text .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-trash:before {
  content: "\e981";
  color: #1a8cff;
}
.icon-triggers:before {
  content: "\e982";
  color: #1a8cff;
}
.icon-twitter:before {
  content: "\e983";
  color: #5da8dc;
}
.icon-user:before {
  content: "\e985";
  color: #1a8cff;
}
.icon-vertical-panel .path1:before {
  content: "\e986";
  color: rgb(26, 140, 255);
}
.icon-vertical-panel .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(221, 238, 255);
}
.icon-vertical-panel .path3:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(204, 228, 255);
}
.icon-vertical-panel .path4:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(26, 140, 255);
}
.icon-workflows:before {
  content: "\e98a";
  color: #1a8cff;}

  .card{
    background-image: url(../images/card.png);
  }
  input[type="checkbox"]:checked{
    background-image: url(../images/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  section.banner{
    background: url(../images/banner-bg.png);
  }
  .sign-in-page{
    background: url(../images/sign-in-bg.png);
    background-repeat: no-repeat;
    background-size: 80.6%;
    background-position: 8rem 0rem;
    background-color: #f9fcff;
}
.custom-select {
	background: #fff url(../images/dropdown.png) no-repeat right 0.75rem center;
  background-size: 12px;
}
  .ui-dialog .ui-dialog-titlebar-close {
    .ui-state-focus .ui-icon,
    .ui-state-hover .ui-icon {
    	background: url(../images/ui-icons_0073ea_256x240.png);
    }
}
