/*------------------------------------*/
/*------------- COLORS ---------------*/
/*------------------------------------*/
$white: #fff;
$light_gray: #E7EBF2;
$main_dark: #43515E;
$blue: #1981EB;
$blue_bg: #1A8CFF;
$green: #8DD321;
$lima: #7ED321;
$rock_blue: #8BA2BE;
$hawkes_blue: #D2DEED;
$lavender: #E4EEFB;
$lavender_gray: #E4EDF9;
$periwinkle: #BECDE2E;
$solitude: #E7EBF2;
$solitude_gray: #F5F7FA;
$dodger_blue_translucent: rgba(26, 140, 255, 0.08);
$orange: #FF9902;
$alice_blue: #E8F3FF;
$alice_blue_bg: #F9FCFF;
$acadia: #2D8DFE;
$light_blue_border_color: rgba(26, 140, 255, 0.1);
$fiord: #4D5968;
$ship_cove: #7C8EAA; 
$orange_peel: #FF9902;
$periwinkle: #BECDE2;
$wild_watermelon: #FF687A;
$christi: #73C21E;
$emerald: #47DC6B;
$brink_pink: #FF6D85;
$conifer: #A2DF64;
$bittersweet: #ff765f;
$neon_carrot: #FF9224;
$spindle: #BECADB;
$orange: #FF9902;
.app-image{
	a.outline-more{
		color: rgba(0, 0, 0, 0.05);
	}
}
/*------------------------------------*/
/*------------- COLORS ---------------*/
/*------------------------------------*/
/**/