/*------------------------------------*/
/*------------- FOOTER ---------------*/
/*------------------------------------*/
footer.footer{
	background:  $white;
    box-shadow: 0 0 1px 0 rgba(26, 140, 255, 0.3);
    padding: 1.6rem 0 0.3rem;

    p{
    	color: $hawkes_blue;
    	font-size: 12px;
    }

}
.footer,
.push {
  	height: 64px;
}
/*------------------------------------*/
/*------------- /FOOTER --------------*/
/*------------------------------------*/
