/*------------------------------------*/
/*-------------- ENVELOPE ------------*/
/*------------------------------------*/
.envelope{
	position: relative;
    margin: 0 1.1rem;
    margin-top: calc(100% - 56%);
    height: 100%;
	img{
		width: 100%;
		&.envelope-top {
		    z-index:  0;
		}
		&.envelope-bottom {
		    z-index: 20;
		    position:  absolute;
		    bottom: 5rem;
		}
	}
	
}
@media(max-width: 1199px){
	.envelope{
		img{
			&.envelope-bottom{
			    bottom: 4.4rem;
			}
		}
	}
}
@media(max-width: 991px){
	.envelope{
	    margin: 0;
    	margin-top: calc(100% - 56%);
    	img.envelope-bottom{
    		bottom: 3.65rem;
    	}
	}
}
@media(max-width: 767px){
	.envelope{
		img.envelope-bottom{
			bottom: 3.15rem;
		}
	}
}
@media(max-width: 424px){
	.envelope{
		img.envelope-bottom{
			bottom: 2.75rem;
		}
	}
}
@media(max-width: 374px){
	.envelope{
		img{
			display: none;
		}
	}
}
/*------------------------------------
/*-------------- /ENVELOPE -----------*/
/*------------------------------------*/