/*------------------------------------*/
/*--------------- INFOBOX ------------*/
/*------------------------------------*/
section .infobox{
    min-height: 180px;
   	margin-top: 4.6rem;
	.icon-infobox{
		background: $lavender_gray;
		width: 56px;
	    height: 56px;
	    border-radius: 50%;
	    text-align: center;
	    line-height: 49px;
    	margin: 0 auto 1.85rem;
	}
	h4{
		font-size: 1rem;
    	margin-bottom: 0.4rem;
	}
	p{
		font-size: 0.75rem;
	    color: #8BA2BE;
	    letter-spacing: 0.65px;
	    line-height: 20px;
	    padding: 0 0.9rem;
	}
}
@media(max-width: 767px){
	section .infobox{
	    margin-top: 2.2rem;
	}
}
/*------------------------------------*/
/*--------------- /INFOBOX -----------*/
/*------------------------------------*/
/**/